extends layout

block content
    .css_margin2Em
        .css_marginTop1Em
            select(data-plugin-select2-id="001")
                option(value="1")= 1
                option(value="2")= 2
                option(value="3")= 3
                option(value="4")= 4
                option(value="5")= 5
                option(value="6")= 6
        .css_marginTop1Em
            span(data-plugin-select2-id="002")
        .css_marginTop1Em
            span(data-plugin-select2-id="003")