doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X_UA_Compatible", content="IE=edge")
    title= title
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="bower_components/select2/select2.css")
    script(src="js/vendor/modernizr-2.8.3.min.js")
  body
    | <!--[if lt IE 8]>
    | 	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->

    block content

    script(src="js/vendor/jquery-1.11.2.min.js")
    script(src="bower_components/select2/select2.js")
    script(src="js/plugins.js")
    script(src="js/main.js")